<form method="post" action="{{ path('hetic_search_homepage') }}" {{ form_enctype(form) }} class="well">
	<fieldset>
		{{ form_widget(form) }}
		<button type="submit" class="btn btn-primary">Rechercher</button>
	</fieldset>
</form>